fastapi
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
httpx==0.27.2
openai==1.54.0
playwright==1.49.0
playwright-stealth
aiohttp==3.10.1
python-multipart==0.0.20
pydantic
starlette>=0.40.0
qdrant-client==1.12.0
